%title
 Register | Vacation Consultant
- model_class = VcRegistration
%h1.span6.offset4{:style => 'margin-top:-50px;margin-bottom:50px;color:#618fad'} Create an Unwinders Account
= render :partial => "form"
