%form.form-horizontal{:id => 'search_vc_form'}
  .control-group
    %label.control-label{:for => "keyword"} Keyword
    .controls
      %input#keyword{:name => 'keyword', :placeholder => "Name/Email/Destination...", :type => "text"}
      / %input#keyword{:name => 'email', :placeholder => "Name/Email/Destination...", :type => "text"}
      %button#search_vc.btn{:type => "submit"} Search
  / .control-group
  /   %label.control-label{:for => "neighborhood"} Neighborhood
  /   .controls
  /     %input#inputPassword{:placeholder => "", :type => "text"}
  .control-group
    .controls
