.media-body{:style => 'color:black'}
  / %h4.media-heading Anonymous User
  %div{:id => "comment_#{comment.id}"}
    #comment-content{:style => 'font-size:10px;font-family:sans serif;padding-left:20px'}
      .row{:style => 'margin-left:0px'}
        .span10
          = comment.content
        .span2
          = link_to "Delete", iti_cust_dest_poa_detail_comment_path(:id => comment.id, :iti_cust_dest_poa_detail_id => comment.commentable_id), :method => :delete, :remote => true, :id => comment.id, :class => 'delete_comment'
    #comment-time.pull-right{:style => 'font-size:10px;color:gray'}
      = comment.created_at.strftime('%b %d, %Y at %I:%M%p')
    %br
    .vc-hr
  / .actions{:style => 'margin-left:20px'}
  /   %b Reply
  /   / = link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)
  /   = nested_comments comment.children