= content_for :menu do
  .container
    %h2.branch_name Strata Holidays
.container{:style => 'background:white'}
  .action
    .row
      .span3.well{:style => 'margin:10px 0px 0px 0px;min-height:300px;padding:0px'}
        .span2{:style => 'margin:0px'}
          .thumb-container
            .thumbnail.small
              %img{:src => 'assets/unwinders/divya.jpg'}
        %h2
          Divya
          VC Name
        Other info goes here
      .span9
        .span3.well
          Featured Dest Images
        / There were several Mahars first, and then at least twenty awe-inspiring pterodactyls—thipdars, they are called within Pellucidar.
        .span5.pull-right
          = render 'top_destinations'
    / %p.intro There were several Mahars first, and then at least twenty awe-inspiring pterodactyls—thipdars, they are called within Pellucidar.
    / = render 'top_destinations'
  .map
    #inner-details{:style => 'display:none'}
    #infovis
    map
  .refer
    Testimonials
  .info
    = render 'iti_in_progress'
  .newsletter
    Campaign