.box
  .content{:style => 'background:#ffeb99'}
    #myCarousel1.carousel.slide
      %ol.carousel-indicators.hide
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel1"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel1"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel1"}
      / Carousel items
      .carousel-inner
        - destination_array = Destination.all.each_slice(6).to_a
        - destination_array.each_with_index do |p,index|
          -if index == 0
            .active.item
              - p.each do |p1|
                %a{:href => destination_path(:id => p1.id)}
                  %img{:src => "#{p1.image.url(:medium)}"}
          -else
            .item
              - p.each do |p1|
                %a{:href => destination_path(:id => p1.id)}
                  %img{:src => "#{p1.image.url(:medium)}"}
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel1"} &lsaquo;
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel1"} &rsaquo;
