%title
  Unwinders
#root-image
  .container{:style => 'padding-left:0px;height:750px'}
    #empty-div{:style => 'min-height:100px;'}
    .row
      .span7
      = render 'visitor_request'
    /.well{:style => 'height:4px'}
    /= link_to "Click here to sign up as a consultant with us!!", new_vc_registration_path
.container{:style => 'padding-left:0px;'}
  .row
    %br
    .span12{:style => 'text-align:center;font:normal 40px/60px AllerLightRegular;color:black'}
      Meet our expert planners
  %br
  %br
  #vcs-page
    = render :partial => 'vcs_page'
  .row
    .span12
      #all-vcs-link.pull-right
        = link_to "See all", '#'
  %br
  %br
  %br
  / #destination-carousel
  /   = render :partial => 'picture_carousel'