.container{:style => 'padding-left:0px'}
  #root-image
    .well
      = link_to "Click here to sign up as a consultant with us!!", new_vc_registration_path
  #filler.filler-div{:style => 'font-weight:bold;text-align:center;color:black;font-size:13pt'}
    %br
    Meet our Vacation Consultants
  #vcs-page
    = render :partial => 'vcs_page'
  #current-packages
    = render :partial => 'picture_carousel'