/ :javascript
/   Sessionapp.ChartData["#{"infovis"}"] = #{raw generate_jit_tree().to_json};
/ = javascript_tag :defer => 'defer' do
/   $(document).ready(function () {
/   JitTree.showJit();
/   });
/ #inner-details{:style => 'display:none'}
/ #infovis