%h1 Listing user_responses

%table
  %tr
    %th
    %th
    %th

  - @user_responses.each do |user_response|
    %tr
      %td= link_to 'Show', user_response
      %td= link_to 'Edit', edit_user_response_path(user_response)
      %td= link_to 'Destroy', user_response, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User response', new_user_response_path
