@import "base/core";

@import "banner";
@import "footer";
@import "sites";

@import "home";
@import "transaction";
@import "list";
@import "ecommerce";

@import "bjqs";

.modal.large {
    width: 60%; /* respsonsive width */
    margin-left:-30%; /* width/2) */
}

.box {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px#888;
  border-bottom: 2px solid #eee;
}

.box .content{
  padding: 6px;
  background: #F0F0F0;
  color: black;
}

.box .title{
color: black;
text-align: center;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
height: auto;
position: relative;
padding: 10px;
border-bottom: 2px solid #eee;
}

.item-details {
clear: both;
overflow: hidden;
margin: 10px;
}

.item-details p {
clear: both;
display: block;
line-height: 25px;
margin: 5px;
border-bottom: 1px dotted #bcbcbc;
}

.item-details p b {
font-weight: bold;
color: #999;
background: #f2f2f2;
width: 170px;
text-align: right;
display: block;
float: left;
margin-right: 5px;
padding-right: 5px;
}
.order-package{
  display: block;
  float: left;
  position: relative;
  margin: 0px 0 0 0;
  padding: 0;
  //background: #fafafa;
  border: solid 2px #eeeedd;
  overflow: hidden;
  .header{
    padding: 6px;
    color: black;
    background: #FECC00;
    font-size: 18px;
    text-align:center;
    border-bottom:solid 1.5px #eeeeee;
  }
  .content{
    padding:10px;
  }
}


.thumb-container{
  text-align: center;
  margin-bottom: 3px;
  .thumbnail{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.1);
    box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.1);
    overflow: hidden;
  }
  .thumbnail.large{
    height: 180px;
    width: 125px;
    img{
      height: 180px;
      max-height: 200px;
      max-width: 125px;
    }
  }
  .thumbnail.medium{
    height: 150px;
    width: 100px;
    img{
      max-height: 150px;
      max-width: 100px;
    }
  }
  .thumbnail.small{
    height: 100px;
    width: 75px;
    img{
      max-height: 100px;
      max-width: 75px;
    }
  }
  .thumbnail.people{
    height: 100px;
    width: 100px;
    img{
      max-height: 100px;
      max-width: 100px;
      }
    }
}
.imgborder
{
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  -moz-box-shadow: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.vc_details
{
  text-align: center;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
}
.filler-div
{
  height: 25px;
  background: $white;
}
.filler-div-home{
 font-weight:bold;
 text-align:center;
 color:black;
 font-size:13pt;
 padding-bottom:14px;
 margin-top:0px;
 line-height:11px;
 padding-bottom:4px;
 background:#f1f1f0;
 height:25px;
}
.home-box {
  background: $back-color;
  -webkit-box-shadow: 0 0 5px#888;
  border-bottom: 2px solid #eee;
}
.vc-hr
{
  background-color: $gray-light;
  height: 1px;
  margin: 0px;
}
.info-line1
{
  font-size: 15pt;
  text-align: center;
  padding-top: 10px;
}
.info-line2
{
  font-size: 12pt;
  padding-top: 5px;
  padding-left: 10px;
}

.nav{
  border-bottom:0px;
  margin-bottom:0px;
  margin-top:25px;
}
.tab-pane{
  background-color:#27689b;
  color:black;
}

form textarea{
  height: 50px;
  width: 300px;
}

#history-tabs{
  .nav-tabs{
    li.active{
      .custom-tabs {
        color:white;
        background-color:#27689b;
      }
    }
  }
  .tab-content{
    overflow:hidden;
  }
}

ul.grid {
  padding: 0;
  list-style: none;
  margin: 20px auto 0;
  width: 1000px;
  }

.grid li {
  float: left;
  padding: 0;
  margin: 0 5px 10px 5px;
  }

.grid li a {
  display: block;
  }

.grid li img {
  background-color: white;
  padding: 7px; margin: 0;
  border: 1px dotted #58595b;
  width: 200px;
  height: 200px;
  }
.grid li
  {
  .speech-bubble {
    background-color: $black;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    position: absolute;
    color: $white;
    font-weight:bold;
    display:none;
  }
}
.grid li a:hover img + .speech-bubble {
opacity:0.7; filter:alpha(opacity=70);
display:block;
}

@font-face {
    font-family:'GraublauWeb';
    src: url(fonts/GraublauWeb.eot);
    src: url(fonts/GraublauWeb.otf) format("opentype");
}

#facebox .image{
  width: 800px !important;
  img{
    width:800px !important;
  }
}

.short-text {
  overflow: hidden;
  height: 322px;
  border-bottom: 20px solid #f5f5f5;
}

.full-text{
  height: auto;
}

#profile{
  .personal-info-header{
    font-size:20px;
    color:#37404e;
  }
}
.account-info{
  list-style: none;
  margin-top: 40px;
  padding: 0px;
  font-size:16px;
  li{
    clear: both;
  }
  label{
    width: 230px;
    font-weight: bold;
    line-height: 25px;
    font-size:16px;
    display: block;
    float: left;
    margin-right: 5px;
    padding-left: 5px;
  }
}

ul.navigation-panel{
  list-style:none;
  a {
    font-size:12pt;
  }
  li{
    padding:6px;
  }
  li.active{
    background-color:#efefef;
    a{
      color:#666666;
      font-weight:bold;
    }
  }
}

ul.navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 100px;
  left: 0px;
  list-style: none;
  z-index:9999;
}

ul.navigation li {
    width: 55px;
}
ul.navigation li a.active {
    background-color:#FFCC11;
}
ul.navigation li a {
    cursor:pointer;
    display: block;
    width: 55px;
    height: 70px;
    background-color:white;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid black;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    &:hover{
      background-color:#FFCC11;
    }
}