@import "base/core";

@import "banner";
@import "footer";
@import "sites";

@import "home";
@import "transaction";
@import "list";
@import "ecommerce";

@import "bjqs";

.order-package{
  display: block;
  position: relative;
  clear: both;
  margin: 0px 0 0 0;
  padding: 0;
  background: #fafafa;
  border: solid 1.5px #eeeeee;
  overflow: hidden;
  .header{
    padding: 10px;
    background: #FECC00;
    font-size: 18px;
    text-align:center;
    border-bottom:solid 1.5px #eeeeee;
  }
  .content{
    padding:10px;
  }
}
.thumb-container{
  text-align: center;
  margin-bottom: 3px;
  .thumbnail{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.1);
    box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.1);
    overflow: hidden;
  }
  .thumbnail.large{
    height: 180px;
    width: 125px;
    img{
      height: 180px;
      max-height: 200px;
      max-width: 125px;
    }
  }
  .thumbnail.medium{
    height: 150px;
    width: 100px;
    img{
      max-height: 150px;
      max-width: 100px;
    }
  }
  .thumbnail.small{
    height: 100px;
    width: 75px;
    img{
      max-height: 100px;
      max-width: 75px;
    }
  }
  .thumbnail.people{
    height: 100px;
    width: 100px;
    img{
      max-height: 100px;
      max-width: 100px;
      }
    }
}