body#list{
  .control-group{
    margin-bottom: 10px;
  }
  .form-horizontal{
    .control-label{
      width:90px;
    }
    .controls {
      margin-left: 125px;
    }
  }
  .action{
    display: block;
    clear: both;
    overflow: hidden;

    @media screen and (min-width: 900px) {
      //background: transparent image-url('unwinders/vc.png') left bottom no-repeat;
    }

    img{
      display: block;
      float: right;
      margin: 0 0 20px 0;

      @media screen and (min-width: 900px) {
        width: 70%;
        height: 240px;
      }

      @media screen and (max-width: 900px) {
        width: 100%; margin-top: 10px;
      }

    }

    ul.plans{
      margin: 0; padding: 0;

      @media screen and (min-width: 900px) {
        //@include span-columns(5 omega);
      }

      @media screen and (max-width: 900px) {
        //@include span-columns(12);
      }

      li{
        display: block;
        float: right;
        clear: both;
        width: 100%;
        list-style: none;
        margin: 0 0 2px 0;
        background: $gray-light;
        color: $white;
        font-size: 16px;
        line-height: 40px;
        text-align: right;

        @media screen and (max-width: 600px) { font-size: 13px; }

        a{
          display: block;
          float: right;
          color: $white;
          background: rgba($black, 0.1);
          padding: 0 12px;
          margin-left: 8px;
          text-transform: lowercase;

          &:after{ content: " \00bb"; }
          &:hover{ border: none; background: rgba($white, 0.3); color: $black; }
        }

        strong{
          display: block;
          float: left;
          font-size: 28px;
          font-weight: 100;
          line-height: 36px;
          padding: 4px 6px 0 6px;

          @media screen and (max-width: 600px) { font-size: 21px; }
        }

        &.lite   {width: 70%; background: $blue;}
        &.basic  {width: 80%; background: $green;}
        &.regular{width: 90%; background: $orange;}
        &.avid   {background: $red;}
      }
    }

    p.intro{
      @media screen and (min-width: 900px) {
        @include span-columns(5);
        @include prefix(2);
      }

      @media screen and (max-width: 900px) {
        @include span-columns(12);
      }

      font-size: 24px;
      font-weight: 100;
      line-height: 40px;
      text-align: center;
    }
  }

  .map, .info, .refer, .newsletter{
    @include box-shadow(0 0 6px rgba($black, 0.2));
    height: 250px;
    overflow: hidden;
    margin: 20px 0;
  }

  .map, .info{
    @media screen and (min-width: 900px) {
      @include span-columns(4);
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
      @include span-columns(8);
    }
  }

  .refer, .newsletter{
    @media screen and (min-width: 900px) {
      @include span-columns(2);
      @include nth-omega(5);
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
      @include span-columns(4);
      @include omega;
    }
  }

  .refer, .info{
    h3{margin: 10px 6px 0 6px; font-size: 13px;}
    p{margin: 0 6px 6px 6px;}
  }

  .map{
    iframe{
      display: block;
      width: 100%;
      height: 200px;
      margin: 0; padding: 0;
    }

    a{
      display: block;
      float: right;
      margin: 0; padding: 4px 10px;
      @include border-radius(0 0 0 4px);
      background: $gray;
      color: $white;
    }
    p{padding: 4px 10px; margin: 0;}
  }

  .photo{
    img{display: block; width: 100%;}
  }

  .newsletter{
    img{ display: block; float: left; margin-right: 6px;}
  }


}