/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require custom_css
 */

.in-progress
{
  list-style: none;
  margin: 0px;
  li{
    clear: both;
  }
  label{
    width: auto;
    font-weight: bold;
    line-height: 25px;
    display: block;
    float: left;
    background: #EFEFEF;
    margin-right: 5px;
    padding-left: 5px;
  }
}


.item-details p b {
  font-weight: bold;
  color: #999;
  background: #f2f2f2;
  width: 200px;
  text-align: right;
  display: block;
  float: left;
  margin-right: 5px;
  padding-right: 5px;
}