.requests_cart
  = link_to customer_path(:id => current_user.customer.id), :id => "show_cart" do
    %table{:border => "0px", :cellpadding => "0px", :cellspacing => "0px"}
      %tr
        %td
          .icon-shopping-cart.icon-large
            = "(" + "#{ session[:request] ? session[:request].count : 0 }" + ")"