.requests_cart
  - customer = current_user.customer
  = link_to '/show_requests_cart', :remote => true, :id => "show_cart" do
    %table{:border => "0px", :cellpadding => "0px", :cellspacing => "0px"}
      %tr
        %td
          .wrapper
            %span
              %i.shopping-cart
              %div{:style => 'margin-top: -28px;margin-left: 25px;'}
                = "(" + "#{customer.wish_list_items.count}" + ")"